<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>NGModel Example</h3>
    <div>
        <select name="Color" id="Color" [(ngModel)]="option">
            <option  value="Blue">Blue</option>
            <option  value="Red">Red</option>
            <option  value="Black">Black</option>
            <option  value="Aqua" selected>Aqua</option>
        </select>
     <p>Your favorite Color: {{option}}</p>   
    </div>
    <p>-----------------------------------------------------------------------------------------------</p> 
    <div>
        <h3>Interface-Model Class Example</h3>
        <p><strong>Movie Name:</strong> {{ movie.name }}</p>
        <p><strong>Movie Director:</strong> {{ movie.director }}</p>
        <p><strong>Movie Year:</strong> {{ movie.year }}</p>
      </div>
      <p>-----------------------------------------------------------------------------------------------</p> 
      <div>
        <label for="age" >Your Age</label>
          <input type="number" name="age" id="age" [(ngModel)]="age">
          <p *ngIf="age == null">Age Cannot Be Null!</p>
          <p *ngIf="age >= 18">You can get your driver licence!</p>
          <p *ngIf="age < 18 && age >= 1">You can't get driver licence!</p> 
    </div>
</body>
</html>
